<!-- button:: addmember ,edit,delete-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- custom css -->
    <link rel="stylesheet" href="/master.css" />

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Datatables -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css"
    />
    <!-- Jquery -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
      crossorigin="anonymous"
    ></script>
    <title>Welcome</title>
  </head>
  <body>
    <div class="header">
      <% if (user){ %>
      <h2>ValleyView</h2>
      <div class="menu" onclick="openNav()">
        <i class="fa fa-fw fa-align-justify"></i>
      </div>
      <div>Welcome back, <%= user.username %></div>
    </div>

    <section class="container">
      <div class="container-sidebar">
        <a class="active-now" href="/home">Home</a>
        <a href="/addRecord">Market</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
      </div>
    </section>
    <% } %>

    <div class="loader-wrapper">
      <span class="loader"> <span class="loader-inner"></span></span>
    </div>
  </body>
</html>
