<%- include('partials/header'); -%>

<div class="container-content">
  <div class="container-table">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wave">
      <path
        fill="#00cba9"
        fill-opacity="1"
        d="M0,128L120,160C240,192,480,256,720,256C960,256,1200,192,1320,160L1440,128L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"
      ></path>
    </svg>
    <div class="auth-signup market">
      <h2>Add Member</h2>
      <!-- name,email,phone number,ID number,account number,coffee type -->
      <form class="signup" id="add-member">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          name="fullName"
          placeholder="Enter name..."
          required
        />
        <div class="fullName error"></div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          placeholder="Enter email..."
          required
        />
        <div class="email error"></div>
        <label for="phone">Phone</label>
        <input
          type="tel"
          placeholder="254-712-345678"
          name="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{6}"
          required
        />
        <div class="phone error"></div>
        <label for="idNumber">ID Number</label>
        <input
          type="text"
          name="idNumber"
          placeholder="Enter id number..."
          required
        />
        <div class="idNumber error"></div>
        <label for="accountNumber">Account Number</label>
        <input
          type="text"
          name="accountNumber"
          placeholder="Enter account number..."
          required
        />
        <div class="accountNumber error"></div>
        <label for="product">Coffee Type</label>
        <input
          type="text"
          name="product"
          placeholder="Enter the type of coffee..."
          required
        />
        <div class="product error"></div>
        <button class="btn-submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
