<%- include('partials/auth-header'); -%>
<div class="auth-signup">
  <h2>Reset Password</h2>
  <p>Check your email a link will be sent to reset your password</p>
  <form class="signup">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter email..." />
    <button type="submit" class="btn-submit">Submit</button>
  </form>
</div>
<%- include('partials/footer'); -%>
